//Fonts by fonts.google.com
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic');



* {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

body {
background: #e6e6e6;

}

.error-404 {
	color: #000;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	img {
		width: 250px;
		margin-bottom: 35px;
	}
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}